*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.title{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    animation: show 3s forwards;
}

.whatsapp-icon{
    position: fixed;
    right: 0px;
    bottom: 0px;
    
}

.libros{
    display: grid;
    /* grid-template-columns: repeat(5,1fr) ; */
    grid-template-columns: repeat(2,1fr) ;
    padding: 20px;
    row-gap: 10px;
}
.libro {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    background-color: white;
    width: 200px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 24px;
    margin: 8px;
    border-radius: 4px;
    
    /*hacen falta los 0s??*/
    /* transition: background-color .5s, transform 0s;  */
    transition: background-color .5s; 
    /* transform-origin: center; */
    
    /* , flex-grow .5s; */

    animation: librosGrow 1.5s;
}

/*pseudoclases*/
/*hover("helicoptero"): cuando el mouse se posiciona sobre esta card tengo un comportamiento diferente*/
/* box-shadow: 10 10 16px rgb(0 0 0 / 80%); */
.libro:hover {
    background-color: rgb(248, 242, 158);
    transform: scale(110%,110%);

    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
    /* width: 250px;
    text-align: center; */

    
}



.autor {
    /* text-decoration: none; */
    color: rgb(44, 43, 43);
    /* font-weight: bold; */   
}

.titulo{
    padding: 5px 5px 10px 5px;
}

.precio{
    padding: 5px;
}


/* .precio::after{
    visibility: hidden;
} */


.libro img {
    align-self: center;
    width: 150px;
    height: 250px;
    /* object-fit: cover; */
    border-radius: 4px;
}



/* .autores{
    border: 2px solid black;
    padding: 5px;
} */

/*media query*/
/* @media(max-width: 600px) {
    .libros{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media(max-width: 900px) {
    .libros{
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media(max-width: 1200px) {
    .libros{
        grid-template-columns: repeat(4,1fr);
    }
    
} */

/*hacer las media query con los 3 breakpoints para 3 tamaños de pantalla*/
@media(min-width:600px){ /*cuando mi pantalla tiene de 600px o más*/
  .libros{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(min-width:900px){
    .libros{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(min-width:1200px){
    .libros{
        grid-template-columns: repeat(5,1fr);
    }
}

/*animaciones libros y titulo*/

@keyframes librosGrow{
    from{
        transform: scale(.3);
    }
    to{
        transform: scale(1);
    }
}

@keyframes show{
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}





/***************************************************/
/* .hide {
    display: none;
  }
  
  .verDetalle:hover + .hide {
    display: block;
    color: red;
  } */


 /* .show {
    display: none
  }
  .libro:hover + .show {
    display: block
  }
  .libro:hover ~ .hide {
    display: none
  } */
 
/* #show {
    display:none;
}
#main:hover + #show {
    display:block 
}
#main:hover + #show + #hide {
    display:none
} */